doctype html
html
    head
        meta(charset='utf-8')
        meta(name='viewport' content='width=device-width, initial-scale=1')
        title Acknowlendge
        link(href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,900" rel="stylesheet")
        link(rel='stylesheet' href='./bootstrap/css/bootstrap.min.css')
        link(rel='stylesheet' href='./css/style.css')
        script(src="./js/jquery-3.2.1.min.js" type="text/javascript")
        script(src="./bootstrap/js/bootstrap.min.js" type="text/javascript")
    body.page
        header.header
            nav.container-fluid
                .row.navigation
                    .col-md-12.col-lg-offset-2.col-lg-8.navigation__wrapper
                        .navbar-header
                            btn(data-toggle="collapse", data-target="#top-menu").navbar-toggle.collapsed
                                div(aria-hidden="true").glyphicon.glyphicon-align-justify
                            a(href="#").logo
                                img(src="./img/logo.jpg" alt="logo")
                        .collapse.navbar-collapse(id="top-menu")
                            ul.nav.navbar-nav
                                li.strikethrough
                                    a(href="#") Acknowledge
                                li
                                    a(href="#") Goals
                                li
                                    a(href="#") Motivation
                                li
                                    a(href="#") Community
                                li
                                    a(href="#") Empower your Story
                                li
                                    a(href="#") Letters
                                li
                                    a(href="#") Blog
                                li.dropdown
                                    a(href="#", data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false").dropdown-toggle
                                        span.text-color__orange Yulia Kallaur
                                        span.glyphicon.glyphicon-menu-down.dropdown__arrow
                                    ul.dropdown-menu
                                        li
                                            a(href="#") Letters
                                        li
                                            a(href="#") Blog
            h1.text-center.header__title Acknowledge
            div.container-fluid.text-uppercase.text-center.header__bottom.hidden-xs.hidden-sm Acknowledge
        section.container-fluid
            .row.main
                .col-sm-offset-2.col-sm-8
                    h1.text-center.main__header Value and benefits
                    .both-sides-line
                        hr.both-sides-line__line
                        .both-sides-line__element //
                        hr.both-sides-line__line
                    img(src="./img/01.jpg", alt="content").img-responsive
                    article.article
                        ul
                            li.article__header Personal development
                        p Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem.
                        p Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim.
                        p Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet.
                    article.article
                        ul
                            li.article__header.article__header Family
                        p Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet. Quisque rutrum. Aenean imperdiet. Etiam ultricies nisi vel augue.
                    article.article
                        ul
                            li.article__header.article__header Frendship
                        p Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem.
                    article.article
                        ul
                            li.article__header.article__header Loyality
                        p Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium.
                    hr.line
                    .buttons-wrapper
                        div
                            button.btn.btn-default.button.button_color-orange.col-sm-12.col-md-2 Add value
                        div
                            button.btn.btn-default.button.col-sm-12.col-md-offset-3.col-md-2 Share
                            button.btn.btn-default.button.col-sm-12.col-md-offset-1.col-md-2 Print
                            button.btn.btn-default.button.col-sm-12.col-md-offset-1.col-md-1 Edit
        footer
            nav.container-fluid.footer
                .row
                    .col-md-12.col-lg-offset-2.col-lg-8.footer__wrapper
                        div.footer__coopyright
                            hr.footer__line
                            span 2016 Life Key Inc.
                            br
                            span Service of goals definition and management
                        ul.nav.navbar-nav.hidden-xs.hidden-sm.footer__navbar
                            li
                                a(href="#") Acknowledge
                            li
                                a(href="#") Goals
                            li
                                a(href="#") Motivation
                            li
                                a(href="#") Community
                            li
                                a(href="#") Empower your Story
                            li
                                a(href="#") Letters
                            li
                                a(href="#") Blog

